@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: MediumFont;
	src: url(/assets/fonts/MainFont-Medium.ttf) format('truetype');
}

@font-face {
	font-family: LightFont;
	src: url(/assets/fonts/MainFont-Light.ttf) format('truetype');
}

@font-face {
	font-family: RegularFont;
	src: url(/assets/fonts/MainFont-Regular.ttf) format('truetype');
}

@font-face {
	font-family: BoldFont;
	src: url(/assets/fonts/MainFont-Medium.ttf) format('truetype');
}


html,
body {
  padding: 0;
  margin: 0;
	font-family: 'RegularFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #f4f4f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'RegularFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 0 !important;
    scrollbar-width: 0 !important;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) !important;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }

  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0) !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 0px !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
  }